!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
	%head
		%title Directions to Last Visitor (2011), Charles Broskoski
		/ Source: https://github.com/broskoski/directions_to_last_visitor 
		%link{:rel =>"stylesheet", :href => "css/style.css"}
		%link{:rel => "stylesheet", :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css'}
		%script{:src =>"http://include.reinvigorate.net/re_.js", :type => "text/javascript"}
		%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=true", :type => "text/javascript"}
		%script{:src => "js/jquery.js", :type => "text/javascript"}
		%script{:src => "js/lib.js", :type => "text/javascript"}
		%script{:src => "js/script.js", :type => "text/javascript"}
	%body
		#container
			= yield
