!!!
%html
	%head
		%title Directions to Last Visitor(2011), Charles Broskoski
		/ Source: https://github.com/broskoski/directions_to_last_visitor 
		%link{:rel =>"stylesheet", :href => "css/style.css"}
		%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=true"}
		%script{:src => "js/jquery.js"}
		%script{:src => "js/lib.js"}
		%script{:src => "js/script.js"}
%body
	#container
		= yield
