!!!  
%html
	%head
		%title Directions to the Previous (2011), Charles Broskoski
		%link{:rel =>"stylesheet", :href => "css/style.css"}
		%link{:rel => "stylesheet", :href => 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css'}
		%script{:src => "http://maps.googleapis.com/maps/api/js?sensor=true"}
		%script{:src => "js/jquery.js"}
		%script{:src => "js/lib.js"}
		%script{:src => "js/script.js"}
%body
	#container
		= yield
